
// ====== Каталог систем =====

.catalog__top-line {
  display: flex;
  justify-content: space-between;
  margin: 65px 0px 30px 0;
    h1 {
      margin-left: 15px;
    }
    select {
      width: 270px;
      height: 40px;
      border-radius: 50px;
      border: 1px solid #C4C4C4;
      padding: 12px 19px;
      margin-left: 30px;
    }
}

.documents-inner__nav {
  justify-content: space-between;
}

@media (max-width: 760px) {
  .catalog__top-line {
    flex-wrap: wrap;
    margin: 35px 0px 30px 0;
      select {
        margin-top: 20px;
      }
  }
}

@media (max-width: 590px) {
  .catalog__top-line {
    select {
      margin-left: 0;
    }
  }
}