
// ====== Документы ======

.documents__inner {
  padding: 60px 0 100px 0;
    h1 {
      margin-left: 15px;
      margin-bottom: 40px;
    }
}

.documents-inner__nav {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 40px;
    li {
      margin-bottom: 20px;
        a {
          text-transform: none;
          padding: 10px 17px;
          white-space: nowrap;
            &:hover {
              box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
              border-radius: 50px;
            }
        }
    }
}

.documents-inner__items {
  margin-top: 30px;
  margin-bottom: 40px;
}

.documents-inner__item {
  border-bottom: 1px solid #9BB4D2;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  transition: color 0.2s linear, border-bottom 0.2s linear, transform 0.1s;
  cursor: pointer;
  z-index: 1;
    a {
      text-transform: none;
      font-size: 15px;
      margin-left: 40px;
      position: relative;
        &:before {
          content: '\e904';
          font-family: 'icomoon';
          font-size: 20px;
          position: absolute;
          top: -1px;
          left: -28px;
        }
    }
    p {
      font-size: 11px;
    }
    &:hover {
      box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
      border-bottom: 1px solid #fff;
      color: $main-bgcolor;
      transform: scaleY(1.1);
      z-index: 2;
      background-color: #fff;
        a {
          color: $main-bgcolor;
        }
    }
    &:last-child {
      border-bottom: none;
    }
}

.digital__slider {
  display: flex;
  justify-content: center;
    button {
      display: none;
      margin-bottom: 30px;
      background-color: transparent;
      color: $elem-bgcolor;
      border: 1px solid $main-bgcolor;
      padding: 12px 56px;
    }
    ul {
      display: flex;
      list-style-type: none;
      position: relative;
        li {
          margin-right: 25px;
            a {
              font-weight: 500;
            }
            .activelink {
              color: #fff;
              background-color: $elem-bgcolor;
              width: 21px;
              height: 21px;
              border-radius: 50%;
              display: inline-block;
              padding: 3px 6px;
              margin-top: -3px;
            }
        }
        &:after {
          content: '\e900';
          font-family: 'icomoon';
          position: absolute;
          right: -10px;
          top: 2px;
        }
        &:before {
          content: '\e900';
          font-family: 'icomoon';
          transform: rotate(180deg);
          position: absolute;
          left: -35px;
          top: 1px;
        }
    }
}

@media (max-width: 590px) {
  .documents-inner__nav {
    display: none;
  }
  .documents__inner {
    padding: 30px 0 40px 0;
      h1 {
        margin-left: 15px;
      }
  }
  .documents-inner__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 5px;
      a {
        margin-left: 25px;
        margin-top: 10px;
      }
  }
  .documents-inner__items {
    margin-bottom: 10px;
  }
  .digital__slider {
    flex-direction: column;
    align-items: center;
      button {
        display: block;
      }
  }  
}




