
// ======== Footer =========

footer {
  background-color: $elem-bgcolor;
}

.footer {
  padding: 20px 0 40px 0;
    p {
      padding-right: 220px;
      font-size: 11px;
      color: $second-bgcolor;
      margin-top: -25px;
    }
}

.footer__items {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  width: 100%;
  max-width: 210px;
  color: $second-font-color;
    ul {
      margin-top: 20px;
      list-style-type: none;
        li {
          margin-bottom: 15px;
            a {
              color: $second-font-color;
              text-transform: none;
              font-size: 13px;
              text-decoration: none;
              margin-left: 10px;
                &:hover {
                  color: $main-bgcolor;
                } 
            }
            &:before {
              content: "\e903";
              font-family: 'icomoon';
              color: $main-bgcolor;
            }  
        }
    }
    h4 {
      margin-top: 15px;
      cursor: pointer;
    }

    h3 {
      font-size: 18px;
      margin-top: 15px;
    }

    p {
      font-size: 12px;
      margin-bottom: 17px;
      margin-top: 10px;
      padding-right: 0;
    }
    a {
      font-size: 18px;
      text-decoration: underline;
      color: $main-bgcolor;
      text-transform: none;
    }
    button {
      margin-top: 25px;
      background-color: transparent;
      border: 1px solid $main-bgcolor;
      font-size: 13px;
    }
}

.footer-item__social {
  margin-top: 35px;
  display: flex;
    object {
      margin-right: 20px;
    }
}

@media (max-width: 1020px) {
  .footer__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
      ul {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s linear;
      }
  }

  .footer
  p {
    padding-right: 0;
    margin-top: 20px;
  }

  .footer__item {
    h4 {
      margin-top: 10px;
      margin-bottom: 20px;
      position: relative;
      transition: 0.2s linear;
        &:after {
          content: "\e903";
          font-family: 'icomoon';
          color: $main-bgcolor;
          font-size: 15px;
          margin-left: 10px;
          top: 4px;
          position: absolute;
          transform: rotate(90deg);
          transition: 0.2s linear;
        }
    }
    h3 {
      margin-top: 10px;
    }
    p {
      font-size: 12px;
      margin-bottom: 17px;
      margin-top: 10px;
    }
  }

  .footer__wrap.activefoot {
    &:after {
      transform: rotate(180deg);
    }
  }

  .footer__item.activefoot {
    h4 {
      &:after {
        transform: rotate(180deg);
      }
    }
    ul {
      max-height: 140px;
    }
  }

  .footer-item__social {
    margin-top: 25px;
  }

}
