
// ======== Header =========

.header {
  padding: 13px 0 40px 0;
}

.header__firstline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
    ul {
      display: flex;
      list-style-type: none;
        a {
          text-transform: none;
          margin-right: 48px;
        }
        
    }
}

.header-firstline__contacts {
  display: flex;
    a {
      margin-left: 35px;
      font-size: 18px;
      font-weight: 700;
      position: relative;
    }
}

.header-firstline-contacts__free:before {
  content: "\e958";
  font-family: 'icomoon';
  position: absolute;
  left: -20px;
}

.header__secondline {
  display: flex;
  align-items: center;
    button {
      margin-left: auto;
      white-space: nowrap;
    }
}

.header-secondline__about {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-right: 5px;
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin-left: 30px;
      padding-top: 5px;
      width: 100%;
        li {
          margin-right: 10px;
          display: flex;
          align-items: center;
        }

        li:last-child {
          margin-right: 0px;
        }       
    }
}

.header__catalog {
  font-weight: 700;
  position: relative;
    &:before {
      content: "\f0c9";
      font-family: 'icomoon';
      position: absolute;
      left: -14px;
      top: 1px;
    }
}

.header-mob {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 -20px;
  padding: 0 20px;
}

.header-mob__burg-btn {
  padding: 10px 0;
  cursor: pointer;
}

.header-mob__burg {
  position: relative;
  width: 25px;
  height: 4px;
  background-color: $main-font-color;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
    &:before {
      position: absolute;
      left: 0;
      top: -8px;
      content: ' ';
      display: block;
      width: 25px;
      height: 4px;
      background-color: $main-font-color;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
    &:after {
      position: absolute;
      left: 0;
      top: 8px;
      content: ' ';
      display: block;
      width: 25px;
      height: 4px;
      background-color: $main-font-color;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
}

.header-mob__burg.activeburg {
  background-color: transparent;
    &:before {
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    &:after {
      transform: rotate(-45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
}


@media (max-width: 1020px) {
  .header {
    display: none;
  }
  .header-mob {
    display: flex;
  }
}
