
// ======== Header =========

.header {
  padding: 13px 0 40px 0;
}

.header__firstline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
    ul {
      display: flex;
      list-style-type: none;
        a {
          text-transform: none;
          margin-right: 48px;
        }
        
    }
}

.header-firstline__contacts {
  display: flex;
    a {
      margin-left: 35px;
      font-size: 18px;
      font-weight: 700;
    }
}

.header__secondline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-secondline__about {
  display: flex;
  align-items: center;
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin-left: 20px;
      padding-top: 5px;
        
        li:first-child {
          font-weight: 700;
        }
        li {
          margin-right: 35px;
          display: flex;
          align-items: center;
            object {
              margin-right: 5px;
              width: 17px;
              height: 12px;
            }
        }
        li:last-child {
          margin-right: 0px;
        }
        
    }
}