
// ======== Header =========

.header {
  padding: 13px 0 40px 0;
}

.header__firstline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
    ul {
      display: flex;
      list-style-type: none;
        a {
          text-transform: none;
          margin-right: 48px;
        }
        
    }
}

.header-firstline__contacts {
  display: flex;
    a {
      margin-left: 35px;
      font-size: 18px;
      font-weight: 700;
      position: relative;
    }
}

.header-firstline-contacts__free:before {
  content: "\e958";
  font-family: 'icomoon';
  position: absolute;
  left: -20px;
}

.header__secondline {
  display: flex;
  align-items: center;
    button {
      margin-left: auto;
      white-space: nowrap;
    }
}

.header-secondline__about {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-right: 5px;
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin-left: 30px;
      padding-top: 5px;
      width: 100%;
        li {
          margin-right: 10px;
          display: flex;
          align-items: center;
        }

        li:last-child {
          margin-right: 0px;
        }       
    }
}

.header__catalog {
  font-weight: 700;
  position: relative;
    &:before {
      content: "\f0c9";
      font-family: 'icomoon';
      position: absolute;
      left: -14px;
      top: 1px;
    }
}

.header-mob {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 -20px;
  padding: 0 20px;
}

.header-mob__burg-btn {
  padding: 10px 0;
  cursor: pointer;
}

.header-mob__burg {
  position: relative;
  width: 25px;
  height: 4px;
  background-color: $main-font-color;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
    &:before {
      position: absolute;
      left: 0;
      top: -8px;
      content: ' ';
      display: block;
      width: 25px;
      height: 4px;
      background-color: $main-font-color;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
    &:after {
      position: absolute;
      left: 0;
      top: 8px;
      content: ' ';
      display: block;
      width: 25px;
      height: 4px;
      background-color: $main-font-color;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
}

.header-mob__burg.activeburg {
  background-color: transparent;
    &:before {
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    &:after {
      transform: rotate(-45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
}

.header-mobmenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 750px;
  height: 100vh;
  z-index: 2;
  transform: translateX(-100%);
  transition: 0.8s linear;
  transition-delay: 0.3s;
  background-color: transparent;
}

.header-mobmenu.activewrap {
  transform: translateX(0%);
}

.header-wrapper {
  width: 90%;
  padding: 10px 20px 30px 20px;
  background-color: #33323B;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-wrapper__items {
  display: flex;
  flex-direction: column;
    a {
      color: #fff;
      padding: 10px 0;
      border-bottom: 1px solid #C4C4C4;
    }
    button {
      padding: 10px 0;
      border-bottom: 1px solid #C4C4C4;
      border-radius: 0;
      text-align: left;
      background-color: transparent;
      text-transform: uppercase;
      position: relative;
        &:after {
          content: '\e900';
          font-family: 'icomoon';
          color: $main-bgcolor;
          position: absolute;
          right: 0;
        }
    }
}

.header-wrapper.activewrap {
  transform: translateX(0%);
}

.header-wrapper__inner {
  display: none;
  width: 100%;
}

.header-wrapper__btn {
  position: relative;
  opacity: 1;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border: 1px solid $second-bgcolor;
  width: 40px;
  height: 40px;
  border-radius: 50%;
    &:before {
      width: 20px;
      height: 2px;
      background-color: $second-bgcolor;
      position: absolute;
      top: 18px;
      left: 9px;
      display: block;
      content: '';
      transform: rotate(45deg);
      transition: 0.4s ease-in-out;
    }
    &:after {
      width: 20px;
      height: 2px;
      background-color: $second-bgcolor;
      position: absolute;
      top: 18px;
      left: 9px;
      display: block;
      content: '';
      transform: rotate(-45deg);
      transition: 0.4s ease-in-out;
    }
}

.header-wrapper__btn.closewrap {
  opacity: 0;
    &:before {
      transform: rotate(0deg);
    }
    &:after {
      transform: rotate(0deg);
    }
}

.header-wrapper__logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.header-wrapper__catalog {
  display: none;
  width: 100%;
}

.header-wrapper__catalog .header-wrapper-back__arrow {
  margin-top: 5px;
  position: relative;
  opacity: 1;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border: 1px solid $second-bgcolor;
  width: 40px;
  height: 40px;
  border-radius: 50%;
    &:before {
      content: '\e900';
      font-family: 'icomoon';
      color: #fff;
      transform: rotate(180deg);
      position: absolute;
      left: 10px;
      top: 13px;
    }
}

.show {
  display: block;
}

.header-wrapper__back {
  margin-top: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  cursor: pointer;
    h5 {
      padding-top: 5px;
      color: #fff;
      margin-left: 20px;
      font-size: 13px;
      text-transform: uppercase;
    }
}

.footer__item.inheader {
  padding-top: 20px;

} 

@media (max-width: 1020px) {
  .header {
    display: none;
  }
  .header-mob {
    display: flex;
  }
}
