
// ======= Фото использования ======

.photo__inner {
    h2 {
      margin-top: 45px;
      margin-bottom: 55px;
    }
}

.photo__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(225px, 270px));
  grid-template-rows: repeat(2, auto);
  grid-gap: 30px;
  margin-bottom: 92px;
}

.photo__item {
  border-radius: 20px;
    img {
      width: 100%;
      border-radius: 20px;
    }
}

@media (max-width: 1020px) {
  .photo__inner {
      h2 {
        margin-top: 40px;
        margin-bottom: 20px;
      }
  }
  .photo__items {
    overflow: auto;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, minmax(210px, 270px));
    grid-gap: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .photo__items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@media (max-width: 590px) {
  .photo__inner {
      h2 {
        margin-top: 20px;
        margin-bottom: 20px;
      }
  }
  .photo__items {
    margin-bottom: 20px;
  }
} 
