$main-bgcolor: #FF6B00;
$second-bgcolor: #C4C4C4;
$elem-bgcolor: #33323B;
$main-font: 'Proxima Nova';
$main-font-color: #33323B;
$second-font-color: #ffffff;

:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-family: $main-font;
}

h1 {
	font-size: 31px;
	font-weight: 700;
	position: relative;
		&:before {
			content: '\e901';
			font-family: 'icomoon';
			color: $main-bgcolor;
			font-size: 58px;
			position: absolute;
			left: -28px;
			top: -6px;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
}

h2 {
	font-size: 27px;
	font-weight: 500;
	position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 35px;
			height: 4px;
			width: 60px;
			background-color: $main-bgcolor;
		}
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 18px;
	font-weight: 300;
}


p {
	padding: 0;
	margin: 0;
	font-family: $main-font;
	font-size: 13px;
}

a {
	padding: 0;
	margin: 0;
	color: $main-font-color;
	text-transform: uppercase;
	text-decoration: none;
	font-family: $main-font;
	transition: 0.2s linear;
	font-size: 13px;
		&:hover {
			color: $main-bgcolor;
		}
}

body {
	font-family: $main-font;
	color: $main-font-color;
	font-size: 12px;
	font-weight: 300;
	margin: 0;
	-webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-tap-highlight-color: transparent;
}

header {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 5px;
}

button {
	padding: 14px 23px;
	background-color: $main-bgcolor;
	border-radius: 50px;
	border: none;
	color: $second-font-color;
	cursor: pointer;
	transition: 0.2s linear;
	outline: none;
}

input {
	outline: none;
}

select {
	outline: none;
}

.container {
	max-width: 1190px;
	width: 100%;
	margin: 0 auto; 
	padding: 0 10px;
}

.grey {
	background-color: $second-bgcolor;
}

.circle {
  min-width: 58px;
	min-height: 58px;
	width: 58px;
	height: 58px;
  border: 1px solid $second-bgcolor;
  border-radius: 50%;
	margin-left: 20px;
	color: $second-bgcolor;
	position: relative;
		&:before {
			position: absolute;
			content: "\e900";
			font-family: 'icomoon';
			left: 35%;
			top: 40%;
		}
}

.fixed {
	overflow: hidden;
}

@media (max-width: 1020px) {
	h1 {
		font-size: 23px;
			&:before {
				font-size: 40px;
				position: absolute;
				left: -18px;
				top: -4px;
			}
	}

	h2 {
		font-size: 20px;
		line-height: 35px;
			&:before {
				height: 3px;
				top: 30px;
			}
	}

	.container {
		padding: 0 20px;
	}
}

// ====== Главная страница =====

@import 'header';
@import 'intro';
@import 'projects';
@import 'pluses';
@import 'news';
@import 'selection';
@import 'footer';

// ====== Документы ======

@import 'documents';

// ====== Портфолио ======

@import 'keyses';

// ====== Карточка кейса =====

@import 'object';
@import 'instruments';
@import 'photo';