div,
input,
button,
textarea,
span,
section,
main,
hr,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--clr-main: #343953;
	--clr-active: #ff5927;
	--clr-background-active: #fff;
	--clr-background-form: #d6d8e3;
	--clr-helper: #c4c4c4;
	--clr-background: #f7f7f7;
}
	
