:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova";
}

h1 {
  font-size: 31px;
  font-weight: 700;
  position: relative;
}

h1:before {
  content: '\e901';
  font-family: 'icomoon';
  color: #FF6B00;
  font-size: 58px;
  position: absolute;
  left: -28px;
  top: -6px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 27px;
  font-weight: 500;
  position: relative;
}

h2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 35px;
  height: 4px;
  width: 60px;
  background-color: #FF6B00;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

p {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova";
  font-size: 13px;
}

a {
  padding: 0;
  margin: 0;
  color: #33323B;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Proxima Nova";
  transition: 0.2s linear;
  font-size: 13px;
}

a:hover {
  color: #FF6B00;
}

body {
  font-family: "Proxima Nova";
  color: #33323B;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
}

button {
  padding: 14px 23px;
  background-color: #FF6B00;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s linear;
  outline: none;
}

input {
  outline: none;
}

select {
  outline: none;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.grey {
  background-color: #C4C4C4;
}

.circle {
  min-width: 58px;
  min-height: 58px;
  width: 58px;
  height: 58px;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  margin-left: 20px;
  color: #C4C4C4;
  position: relative;
}

.circle:before {
  position: absolute;
  content: "\e900";
  font-family: 'icomoon';
  left: 35%;
  top: 40%;
}

.fixed {
  overflow: hidden;
}

@media (max-width: 1020px) {
  h1 {
    font-size: 23px;
  }
  h1:before {
    font-size: 40px;
    position: absolute;
    left: -18px;
    top: -4px;
  }
  h2 {
    font-size: 20px;
    line-height: 35px;
  }
  h2:before {
    height: 3px;
    top: 30px;
  }
  .container {
    padding: 0 20px;
  }
}

.header {
  padding: 13px 0 40px 0;
}

.header__firstline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header__firstline ul {
  display: flex;
  list-style-type: none;
}

.header__firstline ul a {
  text-transform: none;
  margin-right: 48px;
}

.header-firstline__contacts {
  display: flex;
}

.header-firstline__contacts a {
  margin-left: 35px;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.header-firstline-contacts__free:before {
  content: "\e958";
  font-family: 'icomoon';
  position: absolute;
  left: -20px;
}

.header__secondline {
  display: flex;
  align-items: center;
}

.header__secondline button {
  margin-left: auto;
  white-space: nowrap;
}

.header-secondline__about {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-right: 5px;
}

.header-secondline__about ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 30px;
  padding-top: 5px;
  width: 100%;
}

.header-secondline__about ul li {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.header-secondline__about ul li:last-child {
  margin-right: 0px;
}

.header__catalog {
  font-weight: 700;
  position: relative;
}

.header__catalog:before {
  content: "\f0c9";
  font-family: 'icomoon';
  position: absolute;
  left: -14px;
  top: 1px;
}

.header-mob {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 -20px;
  padding: 0 20px;
}

.header-mob__burg-btn {
  padding: 10px 0;
  cursor: pointer;
}

.header-mob__burg {
  position: relative;
  width: 25px;
  height: 4px;
  background-color: #33323B;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.header-mob__burg:before {
  position: absolute;
  left: 0;
  top: -8px;
  content: ' ';
  display: block;
  width: 25px;
  height: 4px;
  background-color: #33323B;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.header-mob__burg:after {
  position: absolute;
  left: 0;
  top: 8px;
  content: ' ';
  display: block;
  width: 25px;
  height: 4px;
  background-color: #33323B;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.header-mob__burg.activeburg {
  background-color: transparent;
}

.header-mob__burg.activeburg:before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header-mob__burg.activeburg:after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header-mobmenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 750px;
  height: 100vh;
  z-index: 12;
  transform: translateX(-100%);
  transition: 0.8s linear;
  transition-delay: 0.3s;
  background-color: transparent;
}

.header-mobmenu.activewrap {
  transform: translateX(0%);
}

.header-wrapper {
  width: 90%;
  padding: 10px 20px 30px 20px;
  background-color: #33323B;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.header-wrapper__items {
  display: flex;
  flex-direction: column;
}

.header-wrapper__items a {
  color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #C4C4C4;
}

.header-wrapper__items button {
  padding: 10px 0;
  border-bottom: 1px solid #C4C4C4;
  border-radius: 0;
  text-align: left;
  background-color: transparent;
  text-transform: uppercase;
  position: relative;
}

.header-wrapper__items button:after {
  content: '\e900';
  font-family: 'icomoon';
  color: #FF6B00;
  position: absolute;
  right: 0;
}

.header-wrapper.activewrap {
  transform: translateX(0%);
}

.header-wrapper__inner {
  display: none;
  width: 100%;
}

.header-wrapper__btn {
  position: relative;
  opacity: 1;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border: 1px solid #C4C4C4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-wrapper__btn:before {
  width: 20px;
  height: 2px;
  background-color: #C4C4C4;
  position: absolute;
  top: 18px;
  left: 9px;
  display: block;
  content: '';
  transform: rotate(45deg);
  transition: 0.4s ease-in-out;
}

.header-wrapper__btn:after {
  width: 20px;
  height: 2px;
  background-color: #C4C4C4;
  position: absolute;
  top: 18px;
  left: 9px;
  display: block;
  content: '';
  transform: rotate(-45deg);
  transition: 0.4s ease-in-out;
}

.header-wrapper__btn.closewrap {
  opacity: 0;
}

.header-wrapper__btn.closewrap:before {
  transform: rotate(0deg);
}

.header-wrapper__btn.closewrap:after {
  transform: rotate(0deg);
}

.header-wrapper__logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.header-wrapper__catalog {
  display: none;
  width: 100%;
}

.header-wrapper__catalog .header-wrapper-back__arrow {
  margin-top: 5px;
  position: relative;
  opacity: 1;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border: 1px solid #C4C4C4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-wrapper__catalog .header-wrapper-back__arrow:before {
  content: '\e900';
  font-family: 'icomoon';
  color: #fff;
  transform: rotate(180deg);
  position: absolute;
  left: 10px;
  top: 13px;
}

.show {
  display: block;
}

.header-wrapper__back {
  margin-top: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  cursor: pointer;
}

.header-wrapper__back h5 {
  padding-top: 5px;
  color: #fff;
  margin-left: 20px;
  font-size: 13px;
  text-transform: uppercase;
}

.footer__item.inheader {
  padding-top: 20px;
}

@media (max-width: 1020px) {
  .header {
    display: none;
  }
  .header-mob {
    display: flex;
  }
}

.intro {
  background-color: #F4F3F3;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__inner h1 {
  margin-top: 60px;
  position: relative;
}

.intro__inner h1 object {
  position: absolute;
  left: -18px;
  top: -3px;
}

.intro-inner__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 760px;
  margin-top: 60px;
}

.intro-inner__buttons button {
  padding: 18px 70px;
  font-size: 20px;
  width: 100%;
  max-width: 270px;
}

.intro__home {
  width: 100%;
  height: 750px;
  margin-top: 135px;
  background-image: url(../img/intro/home.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1020px) {
  .intro__home {
    display: none;
  }
  .intro__inner {
    padding-bottom: 70px;
  }
  .intro__inner h1 {
    margin-top: 34px;
  }
  .intro-inner__buttons {
    margin-top: 40px;
    flex-wrap: wrap;
  }
  .intro-inner__buttons button {
    padding: 8px 11px;
  }
}

@media (max-width: 590px) {
  .intro-inner__buttons {
    min-width: auto;
    justify-content: center;
  }
  .intro-inner__buttons button {
    margin-bottom: 20px;
  }
  .intro__inner {
    padding-bottom: 50px;
  }
}

.projects {
  width: 100%;
  background-image: url(../img/realised-projects/bg.png);
  background-size: cover;
  background-position: top;
}

.projects.cart {
  display: none;
}

.projects__inner {
  padding-top: 50px;
  padding-bottom: 100px;
}

.projects__inner h2 {
  color: #ffffff;
}

.projects__inner h2:before {
  background-color: #fff;
}

.projects-inner__header {
  display: flex;
  align-items: center;
}

.projects-inner-header.circle {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.project-inner__items {
  display: flex;
  height: 408px;
  margin: 50px -15px 0 -15px;
}

.project-inner__item {
  background-color: #fff;
  height: 100%;
  width: 100%;
  max-width: 270px;
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
  border-radius: 20px;
  margin: 0 15px;
}

.project-inner__item img {
  width: 101%;
  border-radius: 20px;
  height: auto;
  margin: -1px;
}

.project-inner__item h4 {
  margin: 15px 16px 0 16px;
}

.project-inner__item p {
  margin: 18px 16px 0 16px;
}

@media (max-width: 1020px) {
  .projects.cart {
    display: flex;
  }
  .project-inner__items {
    display: flex;
    height: 312px;
    margin: 50px -7px 0 -7px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .project-inner__items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .project-inner__item {
    margin: 0 7px;
    min-width: 210px;
  }
  .project-inner__item h4 {
    font-size: 14px;
    margin: 7px 8px 0 8px;
  }
  .project-inner__item p {
    font-size: 11px;
    margin: 7px 8px 0 8px;
  }
}

@media (max-width: 590px) {
  .projects-inner-header.circle {
    display: none;
  }
  .projects__inner {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

.pluses__inner {
  padding: 130px 0 160px 0;
}

.pluses-inner__head {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.pluses-inner__head button {
  background-color: transparent;
  color: #33323B;
  font-size: 13px;
  border: 1px solid #FF6B00;
  padding: 15px 30px;
}

.pluses-inner__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 70px 70px;
  grid-gap: 50px 30px;
}

.pluses-inner__item {
  display: flex;
  align-items: center;
}

.pluses-inner-item__icon {
  min-width: 80px;
  max-height: 100%;
  margin-right: 20px;
}

.pluses-inner-item__icon object {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1020px) {
  .pluses__inner {
    padding: 20px 0 40px 0;
  }
  .pluses-inner__head {
    flex-wrap: wrap;
  }
  .pluses-inner__head h2 {
    margin-top: 30px;
  }
  .pluses-inner__head button {
    margin-top: 30px;
    padding: 10px 30px;
  }
  .pluses-inner__items {
    grid-gap: 30px 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .pluses-inner__item h4 {
    font-size: 16px;
  }
}

@media (max-width: 590px) {
  .pluses-inner__head button {
    width: 100%;
    max-width: 300px;
  }
}

.news__inner {
  margin-bottom: 120px;
}

.news-inner__head {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.news-inner-head.circle {
  margin-left: 30px;
}

.news-inner__items {
  display: flex;
  margin: 0 -7px;
}

.news-inner__item {
  max-width: 300px;
  min-height: 178px;
  border-radius: 20px;
  padding: 20px 15px 17px 15px;
  transition: 0.2s linear;
  cursor: pointer;
  margin: 0 7px;
}

.news-inner__item h5 {
  font-size: 13px;
  color: #C4C4C4;
  margin-bottom: 30px;
  transition: 0.2s linear;
}

.news-inner__item h5:before {
  content: "\e902";
  font-family: 'icomoon';
  margin-right: 3px;
}

.news-inner__item p {
  font-size: 16px;
}

.news-inner__item:hover {
  background-color: #FF6B00;
  color: #ffffff;
}

.news-inner__item:hover h5 {
  color: #ffffff;
}

@media (max-width: 1020px) {
  .news-inner__items {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .news-inner__items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .news-inner__item {
    min-width: 210px;
  }
}

.selection__inner {
  margin-bottom: 75px;
}

.selection__calc {
  display: flex;
  padding: 40px;
  margin-top: 50px;
  max-width: 600px;
  min-height: 600px;
  box-shadow: 0px 0px 10px #FF6B00;
  border: 3px solid #FF6B00;
  border-radius: 20px;
  transition: 0.4s linear;
}

.selection-calc__form {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(7, 60px);
}

.selection-calc-form__item {
  display: flex;
  align-items: center;
}

.selection-calc-form__item p {
  font-size: 15px;
}

.selection-calc-form__btn {
  display: flex;
  align-items: flex-end;
}

.selection-calc-form__btn button {
  width: 100%;
  background-color: transparent;
  border: 1px solid #FF6B00;
  color: #33323B;
  padding: 14px 48px;
}

.selection-calc-form__btn button:hover {
  background-color: #FF6B00;
  color: #ffffff;
}

.selection-form__town {
  border: 1px solid #C4C4C4;
  padding: 10px 18px;
  border-radius: 30px;
  width: 100%;
}

.selection-form-radio__item {
  display: flex;
  align-items: center;
  min-width: 100px;
  margin-right: 10px;
}

.selection-form-radio__item input {
  margin-right: 10px;
}

.selection-form-radio__input {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.selection-form-radio__label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  transition: 0.3s linear;
}

.selection-form-radio__label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.selection-form-radio__label:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #FF6B00;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 7px #FF6B00;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.selection-form-radio__input:checked + .selection-form-radio__label:after {
  opacity: 1;
}

.selection-form-radio__input:checked + .selection-form-radio__label {
  color: #FF6B00;
}

.selection-calc__result {
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 100%;
  max-width: 100%;
  background-color: #FF6B00;
  margin: -41px -41px -41px 20px;
  border: inherit;
  border-radius: inherit;
  transition: 0.4s ease-in-out, transform 3s;
  padding: 40px;
  transition-delay: -0.3s;
}

.selection-calc__result h3 {
  color: #ffffff;
  margin-top: 15px;
}

.active2 {
  max-width: 100%;
}

.active {
  opacity: 1;
  max-width: 100%;
  transition-delay: 0.4s;
}

.selection-calc-result__item {
  margin-top: 35px;
  width: 100%;
  display: flex;
  padding-bottom: 4px;
}

.selection-calc-result__item h4 {
  color: #ffffff;
  white-space: nowrap;
}

.dots {
  width: 100%;
  max-width: 300px;
  border-bottom: 2.5px dotted #ffffff;
}

.selection-calc-result__send {
  margin-top: auto;
}

.selection-calc-result__form {
  margin-top: 25px;
  position: relative;
}

.selection-calc-result__form input {
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
  border-radius: 50px;
  border: none;
  width: 100%;
  height: 42px;
  padding-left: 24px;
}

.selection-calc-result__form button {
  background-color: #33323B;
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 48px;
}

.jq-selectbox {
  width: 100%;
  height: auto;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #C4C4C4;
}

.jq-selectbox__select {
  background: none;
  border: 1px solid #C4C4C4;
  box-shadow: none;
  font-family: "Proxima Nova";
  width: 100%;
  height: auto;
  border-radius: 30px;
  padding: 4px 18px;
  font-weight: 300;
}

.jq-selectbox__select:hover {
  background: none;
  box-shadow: none;
  font-family: "Proxima Nova";
}

.jq-selectbox__trigger-arrow {
  transition: 0.2s linear;
}

.jq-selectbox.dropdown.opened .jq-selectbox__trigger-arrow {
  transform: rotate(90deg);
  transition: 0.2s linear;
}

.jq-selectbox.dropup.opened .jq-selectbox__trigger-arrow {
  transform: rotate(180deg);
  transition: 0.2s linear;
}

.jq-selectbox.dropdown.opened .jq-selectbox__select {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: none;
}

.jq-selectbox.dropup.opened .jq-selectbox__select {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
}

.jq-selectbox.dropdown.opened + .header-inner-search {
  border-bottom-right-radius: 0;
}

.jq-selectbox__select-text {
  width: 100% !important;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 17px;
  right: 16px;
  width: 0;
  height: 0;
  border-top: 8px solid #C4C4C4;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top: 8px solid #FF6B00;
}

.jq-selectbox__dropdown {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #C4C4C4;
  box-shadow: none;
  width: 100% !important;
  margin: 2px 0px 0;
  margin-top: -1px;
}

.jq-selectbox.dropdown.opened .jq-selectbox__dropdown {
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.jq-selectbox.dropup.opened .jq-selectbox__dropdown {
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.jq-selectbox li {
  padding: 10px 18px 14px;
}

.jq-selectbox li:hover {
  background-color: #33323B;
  color: #fff;
}

.jq-selectbox li:hover:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.jq-selectbox.jq-selectbox.dropdown.opened li.selected {
  background-color: #FF6B00;
}

.jq-selectbox.jq-selectbox.dropdown.opened li.selected:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.jq-selectbox.jq-selectbox.dropup.opened li.selected {
  background-color: #FF6B00;
}

.jq-selectbox.jq-selectbox.dropup.opened li.selected:first-child {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

@media (max-width: 1020px) {
  .selection__inner {
    display: none;
  }
}

footer {
  background-color: #33323B;
}

.footer {
  padding: 20px 0 40px 0;
}

.footer p {
  padding-right: 220px;
  font-size: 11px;
  color: #C4C4C4;
  margin-top: -25px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  width: 100%;
  max-width: 210px;
  color: #ffffff;
}

.footer__item ul {
  margin-top: 20px;
  list-style-type: none;
}

.footer__item ul li {
  margin-bottom: 15px;
}

.footer__item ul li a {
  color: #ffffff;
  text-transform: none;
  font-size: 13px;
  text-decoration: none;
  margin-left: 10px;
}

.footer__item ul li a:hover {
  color: #FF6B00;
}

.footer__item ul li:before {
  content: "\e903";
  font-family: 'icomoon';
  color: #FF6B00;
}

.footer__item h4 {
  margin-top: 15px;
  cursor: pointer;
}

.footer__item h3 {
  font-size: 18px;
  margin-top: 15px;
}

.footer__item p {
  font-size: 12px;
  margin-bottom: 17px;
  margin-top: 10px;
  padding-right: 0;
}

.footer__item a {
  font-size: 18px;
  text-decoration: underline;
  color: #FF6B00;
  text-transform: none;
}

.footer__item button {
  margin-top: 25px;
  background-color: transparent;
  border: 1px solid #FF6B00;
  font-size: 13px;
}

.footer-item__social {
  margin-top: 35px;
  display: flex;
}

.footer-item__social object {
  margin-right: 20px;
}

@media (max-width: 1020px) {
  .footer__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer__items ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s linear;
  }
  .footer
p {
    padding-right: 0;
    margin-top: 20px;
  }
  .footer__item h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    transition: 0.2s linear;
  }
  .footer__item h4:after {
    content: "\e903";
    font-family: 'icomoon';
    color: #FF6B00;
    font-size: 15px;
    margin-left: 10px;
    top: 4px;
    position: absolute;
    transform: rotate(90deg);
    transition: 0.2s linear;
  }
  .footer__item h3 {
    margin-top: 10px;
  }
  .footer__item p {
    font-size: 12px;
    margin-bottom: 17px;
    margin-top: 10px;
  }
  .footer__wrap.active:after {
    transform: rotate(180deg);
  }
  .footer-item__social {
    margin-top: 25px;
  }
}

.documents__inner {
  padding: 60px 0 100px 0;
}

.documents__inner h1 {
  margin-left: 15px;
  margin-bottom: 40px;
}

.documents-inner__nav {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 40px;
}

.documents-inner__nav li {
  margin-bottom: 20px;
}

.documents-inner__nav li a {
  text-transform: none;
  padding: 10px 17px;
  white-space: nowrap;
}

.documents-inner__nav li a:hover {
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
  border-radius: 50px;
}

.documents-inner__items {
  margin-top: 30px;
  margin-bottom: 40px;
}

.documents-inner__item {
  border-bottom: 1px solid #9BB4D2;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  transition: color 0.2s linear, border-bottom 0.2s linear, transform 0.1s;
  cursor: pointer;
  z-index: 1;
}

.documents-inner__item a {
  text-transform: none;
  font-size: 15px;
  margin-left: 40px;
  position: relative;
}

.documents-inner__item a:before {
  content: '\e904';
  font-family: 'icomoon';
  font-size: 20px;
  position: absolute;
  top: -1px;
  left: -28px;
}

.documents-inner__item p {
  font-size: 11px;
}

.documents-inner__item:hover {
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
  border-bottom: 1px solid #fff;
  color: #FF6B00;
  transform: scaleY(1.1);
  z-index: 2;
  background-color: #fff;
}

.documents-inner__item:hover a {
  color: #FF6B00;
}

.documents-inner__item:last-child {
  border-bottom: none;
}

.digital__slider {
  display: flex;
  justify-content: center;
}

.digital__slider button {
  display: none;
  margin-bottom: 30px;
  background-color: transparent;
  color: #33323B;
  border: 1px solid #FF6B00;
  padding: 12px 56px;
}

.digital__slider ul {
  display: flex;
  list-style-type: none;
  position: relative;
}

.digital__slider ul li {
  margin-right: 25px;
}

.digital__slider ul li a {
  font-weight: 500;
}

.digital__slider ul li .activelink {
  color: #fff;
  background-color: #33323B;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: inline-block;
  padding: 3px 6px;
  margin-top: -3px;
}

.digital__slider ul:after {
  content: '\e900';
  font-family: 'icomoon';
  position: absolute;
  right: -10px;
  top: 2px;
}

.digital__slider ul:before {
  content: '\e900';
  font-family: 'icomoon';
  transform: rotate(180deg);
  position: absolute;
  left: -35px;
  top: 1px;
}

@media (max-width: 590px) {
  .documents-inner__nav {
    display: none;
  }
  .documents__inner {
    padding: 30px 0 40px 0;
  }
  .documents__inner h1 {
    margin-left: 15px;
  }
  .documents-inner__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 5px;
  }
  .documents-inner__item a {
    margin-left: 25px;
    margin-top: 10px;
  }
  .documents-inner__items {
    margin-bottom: 10px;
  }
  .digital__slider {
    flex-direction: column;
    align-items: center;
  }
  .digital__slider button {
    display: block;
  }
}

.keyses__inner {
  padding-top: 40px;
  padding-bottom: 40px;
}

.keyses__inner h1 {
  margin-left: 10px;
}

.keyses__top {
  display: flex;
  justify-content: space-between;
}

.keyses__top select {
  width: 270px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #C4C4C4;
  padding: 12px 19px;
}

.keyses__nav {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 40px;
}

.keyses__nav li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.keyses__nav li a {
  text-transform: none;
  padding: 10px 17px;
  white-space: nowrap;
}

.keyses__nav li a:hover {
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
  border-radius: 50px;
}

.keyses__projects h2 {
  margin: 30px 0;
}

.keyses-projects__items {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 270px));
  grid-auto-rows: auto;
  grid-gap: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.keyses-projects__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.keyses-projects__item h4 {
  margin: 15px 0;
}

.keyses-projects-item__img {
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 210px;
}

.keyses-projects-item__img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  transition: 0.2s linear;
}

.keyses-projects-item__img img:hover {
  opacity: 0.3;
}

.keyses-projects-item__img:before {
  content: '';
  background-color: #FF6B00;
  position: absolute;
  width: 100%;
  height: 99%;
  margin: 1px 0 0 0;
  top: 0;
  left: 0;
  border-radius: 20px;
  opacity: 1;
}

@media (max-width: 1020px) {
  .keyses-projects__items.all {
    grid-template-columns: repeat(12, minmax(210px, 270px));
    grid-template-rows: 165px;
    overflow: auto;
    grid-auto-flow: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    justify-content: flex-start;
  }
  .keyses-projects__items.all::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@media (max-width: 590px) {
  .keyses__nav {
    display: none;
  }
  .keyses__top {
    flex-direction: column;
  }
  .keyses__top select {
    margin-top: 20px;
  }
}

.line-links__inner {
  margin-top: 30px;
  margin-bottom: 30px;
}

.line-links__inner ul {
  list-style-type: none;
  display: flex;
}

.line-links__inner ul li {
  margin-right: 35px;
  text-decoration: underline;
  position: relative;
}

.line-links__inner ul li:after {
  content: '\e900';
  font-family: icomoon;
  position: absolute;
  right: -24px;
  top: 4px;
  font-size: 9px;
}

.line-links__inner ul li:last-child {
  text-decoration: none;
}

.line-links__inner ul li:last-child:after {
  content: '';
}

.line-links__inner ul li a {
  text-transform: none;
  font-size: 11px;
}

.object__inner h1 {
  margin-bottom: 50px;
  margin-left: 15px;
}

.object__items {
  display: flex;
  margin-bottom: 40px;
}

.object__items img {
  width: 100%;
  height: auto;
  max-width: 470px;
  max-height: 360px;
  border-radius: 20px;
}

.object-items__text {
  padding-top: 10px;
  padding-left: 30px;
  width: 100%;
  max-width: 400px;
}

.object-items__text p {
  margin-bottom: 20px;
}

@media (max-width: 1020px) {
  .object__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .object-items__text {
    margin-top: 10px;
    min-width: 200px;
  }
}

@media (max-width: 590px) {
  .line-links {
    display: none;
  }
  .object__inner h1 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .object-items__text {
    margin-top: 10px;
    padding-left: 0px;
  }
  .object__items {
    margin-bottom: 10px;
  }
}

.instuments {
  background-image: url(../img/realised-projects/bg.png);
  background-size: cover;
  background-position: top;
}

.instruments__inner {
  padding: 55px 0;
}

.instruments__inner h2 {
  color: #ffffff;
  margin-bottom: 65px;
}

.instruments__inner h2:before {
  background-color: #ffffff;
}

.instuments__items {
  display: flex;
  height: 360px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.instuments__items::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.instuments__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 270px;
  min-width: 210px;
  margin-right: 30px;
  padding: 25px 40px;
}

.instuments__item:last-child {
  margin-right: 0;
}

.instuments__item img {
  max-width: 175px;
  max-height: 240px;
  margin-bottom: 15px;
}

.instuments__item h4 {
  text-align: center;
}

@media (max-width: 1020px) {
  .instruments__inner {
    padding: 30px 0;
  }
  .instruments__inner h2 {
    margin-bottom: 30px;
  }
  .instuments__items {
    height: 335px;
  }
  .instuments__item {
    margin-right: 15px;
    padding: 17px 17px;
  }
  .instuments__item img {
    border-radius: 20px;
  }
  .instuments__item h4 {
    font-size: 14px;
  }
  .instuments.cart {
    display: none;
  }
}

.photo__inner h2 {
  margin-top: 45px;
  margin-bottom: 55px;
}

.photo__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(225px, 270px));
  grid-template-rows: repeat(2, auto);
  grid-gap: 30px;
  margin-bottom: 92px;
}

.photo__item {
  border-radius: 20px;
}

.photo__item img {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 1020px) {
  .photo__inner h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .photo__items {
    overflow: auto;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, minmax(210px, 270px));
    grid-gap: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .photo__items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@media (max-width: 590px) {
  .photo__inner h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .photo__items {
    margin-bottom: 20px;
  }
}

.catalog__top-line {
  display: flex;
  justify-content: space-between;
  margin: 65px 0px 30px 0;
}

.catalog__top-line h1 {
  margin-left: 15px;
}

.catalog__top-line .jq-selectbox {
  max-width: 270px;
  margin-left: 30px;
}

.documents-inner__nav {
  justify-content: space-between;
}

@media (max-width: 760px) {
  .catalog__top-line {
    flex-wrap: wrap;
    margin: 35px 0px 30px 0;
  }
  .catalog__top-line .jq-selectbox {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 590px) {
  .catalog__top-line .jq-selectbox {
    margin-top: 20px;
    max-width: 100%;
  }
}

.lights__inner {
  margin-bottom: 60px;
}

.lights__inner h2 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.lights__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(210px, 1fr));
  grid-template-rows: 360px 360px;
  grid-gap: 30px;
  padding: 10px;
  margin: 0 -10px;
}

.lights__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
  border-radius: 20px;
  padding: 28px 45px;
}

.lights__item img {
  max-width: 100%;
  max-height: 240px;
  margin-bottom: 15px;
  border-radius: 20px;
}

.lights__item h4 {
  text-align: center;
}

@media (max-width: 1020px) {
  .lights__inner {
    margin-bottom: 30px;
  }
  .lights__items {
    display: grid;
    grid-template-columns: repeat(8, minmax(210px, 1fr));
    grid-template-rows: 330px;
    grid-auto-flow: column;
    grid-gap: 15px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .lights__items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .lights__item {
    padding: 17px;
  }
  .lights__item h4 {
    text-align: center;
    font-size: 14px;
  }
}

.zenit__inner {
  margin-bottom: 20px;
}

.zenit__inner h2 {
  margin-bottom: 30px;
}

.zenit__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(210px, 1fr));
  grid-template-rows: 360px;
  grid-gap: 30px;
  padding: 10px;
  margin: 0 -10px;
}

.zenit__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
  border-radius: 20px;
  padding: 28px 15px;
}

.zenit__item img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 20px;
}

.zenit__item h4 {
  text-align: center;
  padding: 0 10px;
}

.digital__slider {
  margin-top: 40px;
  margin-bottom: 60px;
}

@media (max-width: 1020px) {
  .zenit__inner h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .zenit__items {
    display: grid;
    grid-template-columns: repeat(4, 210px, 1fr);
    grid-template-rows: 330px;
    grid-gap: 15px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .zenit__items h4 {
    font-size: 14px;
  }
  .zenit__items::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.lighter__inner {
  margin-bottom: 40px;
}

.lighter__inner h1 {
  margin-left: 15px;
}

.lighter__inner select {
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
  border-radius: 20px;
  font-size: 18px;
  font-family: "Proxima Nova";
  font-weight: 300;
  padding: 10px 24px;
  border: none;
  width: 100%;
  max-width: 370px;
  margin: 20px 0 10px 0;
}

.lighter__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.lighter__nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-right: 50px;
}

.lighter__nav ul a {
  text-transform: none;
  margin-right: 5px;
  padding: 10px 24px;
  border-radius: 50px;
  white-space: nowrap;
}

.lighter__nav ul a:hover {
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
}

.lighter__nav button {
  white-space: nowrap;
  padding: 14px 40px;
}

.lighter__select {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1020px) {
  .lighter__nav {
    display: none;
  }
  .lighter__inner {
    margin-bottom: 20px;
  }
  .lighter__inner h1 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.main__inner {
  display: grid;
  grid-template-columns: minmax(300px, 860px) 270px;
  grid-template-rows: auto;
  grid-column-gap: 30px;
}

.info {
  display: flex;
}

.info img {
  width: 100%;
  max-width: 470px;
  border-radius: 0;
  max-height: 360px;
}

.info .object__img {
  width: 100%;
  max-width: 470px;
}

.info .object__items {
  align-items: center;
}

.button-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.button-line button {
  background-color: transparent;
  color: #33323B;
  border: 1px solid #FF6B00;
  padding: 14px 45px;
  font-size: 13px;
}

.construction {
  margin-bottom: 60px;
}

.construction h2 {
  margin-bottom: 60px;
}

.construction__inner img {
  max-width: 100%;
}

.economy {
  margin-bottom: 80px;
}

.economy h2 {
  margin-bottom: 50px;
}

.use h2 {
  margin-bottom: 45px;
}

.use p {
  margin-bottom: 25px;
}

.main__menu {
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
  border-radius: 20px;
  padding: 24px 0 14px 0;
  width: 100%;
  margin-bottom: 90px;
}

.main__menu ul {
  list-style-type: none;
}

.main__menu ul li {
  padding: 13px 24px;
  font-size: 18px;
  cursor: pointer;
}

.main__menu ul li:hover {
  background-color: #33323B;
  color: #fff;
}

.main__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.main__right .project-inner__items {
  flex-direction: column;
  height: auto;
}

.main__right .project-inner__item {
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.main__right button {
  background-color: transparent;
  color: #33323B;
  border: 1px solid #FF6B00;
  padding: 14px 65px;
  font-size: 13px;
}

@media (max-width: 1020px) {
  .button-line {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0px;
  }
  .button-line button {
    margin-bottom: 30px;
  }
  .main__right {
    display: none;
  }
  .main__inner {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-column-gap: 30px;
  }
}

@media (max-width: 590px) {
  .info .object__items {
    margin: 0 -20px;
  }
  .info .object-items__text {
    padding: 0 20px;
  }
  .construction {
    margin-bottom: 30px;
  }
  .construction h2 {
    margin-bottom: 20px;
  }
  .economy {
    margin-bottom: 30px;
  }
  .economy h2 {
    margin-bottom: 20px;
  }
  .use h2 {
    margin-bottom: 20px;
  }
  .use p {
    margin-bottom: 20px;
  }
}

.video h2 {
  margin-bottom: 50px;
}

.video__items {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.video__item {
  width: 270px;
  height: 210px;
  border-radius: 20px;
  background-color: grey;
  margin-right: 30px;
  margin-bottom: 20px;
}

@media (max-width: 590px) {
  .video__items {
    justify-content: center;
    margin-bottom: 20px;
  }
  .video__item {
    margin-right: 0;
  }
  .video h2 {
    margin-bottom: 20px;
  }
}
