:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova";
}

h1 {
  font-size: 31px;
  font-weight: 700;
  position: relative;
}

h1:before {
  content: '\e901';
  font-family: 'icomoon';
  color: #FF6B00;
  font-size: 54px;
  position: absolute;
  left: -24px;
  top: -5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 27px;
  font-weight: 500;
  position: relative;
}

h2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 35px;
  height: 4px;
  width: 60px;
  background-color: #FF6B00;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

p {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova";
  font-size: 13px;
}

a {
  padding: 0;
  margin: 0;
  color: #33323B;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Proxima Nova";
  transition: 0.2s linear;
  font-size: 13px;
}

a:hover {
  color: #FF6B00;
}

body {
  font-family: "Proxima Nova";
  color: #33323B;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

button {
  padding: 14px 23px;
  background-color: #FF6B00;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s linear;
  outline: none;
}

input {
  outline: none;
}

select {
  outline: none;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

.grey {
  background-color: #C4C4C4;
}

.circle {
  min-width: 58px;
  min-height: 58px;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  margin-left: 20px;
  color: #C4C4C4;
  position: relative;
}

.circle:before {
  position: absolute;
  content: "\e900";
  font-family: 'icomoon';
  left: 35%;
  top: 40%;
}

@media (max-width: 1020px) {
  h1 {
    font-size: 23px;
  }
  h1:before {
    font-size: 40px;
    position: absolute;
    left: -18px;
    top: -4px;
  }
  h2 {
    font-size: 20px;
    line-height: 35px;
  }
  h2:before {
    height: 3px;
    top: 30px;
  }
  .container {
    padding: 0 20px;
  }
}

.header {
  padding: 13px 0 40px 0;
}

.header__firstline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header__firstline ul {
  display: flex;
  list-style-type: none;
}

.header__firstline ul a {
  text-transform: none;
  margin-right: 48px;
}

.header-firstline__contacts {
  display: flex;
}

.header-firstline__contacts a {
  margin-left: 35px;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.header-firstline-contacts__free:before {
  content: "\e958";
  font-family: 'icomoon';
  position: absolute;
  left: -20px;
}

.header__secondline {
  display: flex;
  align-items: center;
}

.header__secondline button {
  margin-left: auto;
  white-space: nowrap;
}

.header-secondline__about {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-right: 5px;
}

.header-secondline__about ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 30px;
  padding-top: 5px;
  width: 100%;
}

.header-secondline__about ul li {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.header-secondline__about ul li:last-child {
  margin-right: 0px;
}

.header__catalog {
  font-weight: 700;
  position: relative;
}

.header__catalog:before {
  content: "\f0c9";
  font-family: 'icomoon';
  position: absolute;
  left: -14px;
  top: 1px;
}

.header-mob {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 -20px;
  padding: 0 20px;
}

.header-mob__burg-btn {
  padding: 10px 0;
  cursor: pointer;
}

.header-mob__burg {
  position: relative;
  width: 25px;
  height: 4px;
  background-color: #33323B;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.header-mob__burg:before {
  position: absolute;
  left: 0;
  top: -8px;
  content: ' ';
  display: block;
  width: 25px;
  height: 4px;
  background-color: #33323B;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.header-mob__burg:after {
  position: absolute;
  left: 0;
  top: 8px;
  content: ' ';
  display: block;
  width: 25px;
  height: 4px;
  background-color: #33323B;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.header-mob__burg.activeburg {
  background-color: transparent;
}

.header-mob__burg.activeburg:before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header-mob__burg.activeburg:after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

@media (max-width: 1020px) {
  .header {
    display: none;
  }
  .header-mob {
    display: flex;
  }
}

.intro {
  background-color: #F4F3F3;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__inner h1 {
  margin-top: 60px;
  position: relative;
}

.intro__inner h1 object {
  position: absolute;
  left: -18px;
  top: -3px;
}

.intro-inner__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 760px;
  margin-top: 60px;
}

.intro-inner__buttons button {
  padding: 18px 70px;
  font-size: 20px;
  width: 100%;
  max-width: 270px;
}

.intro__home {
  width: 100%;
  height: 750px;
  margin-top: 135px;
  background-image: url(../img/intro/home.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1020px) {
  .intro__home {
    display: none;
  }
  .intro__inner {
    margin-bottom: 70px;
  }
  .intro__inner h1 {
    margin-top: 34px;
  }
  .intro-inner__buttons {
    margin-top: 40px;
    flex-wrap: wrap;
  }
  .intro-inner__buttons button {
    padding: 8px 11px;
  }
}

@media (max-width: 590px) {
  .intro-inner__buttons {
    min-width: auto;
    justify-content: center;
  }
  .intro-inner__buttons button {
    margin-bottom: 20px;
  }
  .intro__inner {
    margin-bottom: 50px;
  }
}

.projects {
  width: 100%;
  background-image: url(../img/realised-projects/bg.png);
  background-size: cover;
  background-position: top;
}

.projects__inner {
  padding-top: 50px;
  padding-bottom: 100px;
}

.projects__inner h2 {
  color: #ffffff;
}

.projects__inner h2:before {
  background-color: #fff;
}

.projects-inner__header {
  display: flex;
  align-items: center;
}

.projects-inner-header.circle {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.project-inner__items {
  display: flex;
  height: 408px;
  margin: 50px -15px 0 -15px;
}

.project-inner__item {
  background-color: #fff;
  height: 100%;
  width: 100%;
  max-width: 270px;
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
  border-radius: 20px;
  margin: 0 15px;
}

.project-inner__item img {
  width: 101%;
  border-radius: 20px;
  height: auto;
  margin: -1px;
}

.project-inner__item h4 {
  margin: 15px 16px 0 16px;
}

.project-inner__item p {
  margin: 18px 16px 0 16px;
}

@media (max-width: 1020px) {
  .project-inner__items {
    display: flex;
    height: 312px;
    margin: 50px -7px 0 -7px;
    overflow: hidden;
  }
  .project-inner__item {
    margin: 0 7px;
    min-width: 210px;
  }
  .project-inner__item h4 {
    font-size: 14px;
    margin: 7px 8px 0 8px;
  }
  .project-inner__item p {
    font-size: 11px;
    margin: 7px 8px 0 8px;
  }
}

.pluses__inner {
  padding: 130px 0 160px 0;
}

.pluses-inner__head {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.pluses-inner__head button {
  background-color: transparent;
  color: #33323B;
  font-size: 13px;
  border: 1px solid #FF6B00;
  padding: 15px 30px;
}

.pluses-inner__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 70px 70px;
  grid-gap: 50px 30px;
}

.pluses-inner__item {
  display: flex;
  align-items: center;
}

.pluses-inner-item__icon {
  min-width: 80px;
  max-height: 100%;
  margin-right: 20px;
}

.pluses-inner-item__icon object {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1020px) {
  .pluses__inner {
    padding: 20px 0 40px 0;
  }
  .pluses-inner__head {
    flex-wrap: wrap;
  }
  .pluses-inner__head h2 {
    margin-top: 30px;
  }
  .pluses-inner__head button {
    margin-top: 30px;
    padding: 10px 30px;
  }
}

@media (max-width: 590px) {
  .pluses-inner__head button {
    width: 100%;
    max-width: 300px;
  }
}

.news__inner {
  margin-bottom: 120px;
}

.news__inner h2 {
  margin-bottom: 45px;
}

.news-inner__head {
  display: flex;
}

.news-inner-head.circle {
  margin-top: -10px;
  margin-left: 30px;
}

.news-inner__items {
  display: flex;
  margin: 0 -7px;
}

.news-inner__item {
  width: 100%;
  max-width: 300px;
  min-height: 178px;
  border-radius: 20px;
  padding: 20px 15px 17px 15px;
  transition: 0.2s linear;
  cursor: pointer;
  margin: 0 7px;
}

.news-inner__item h5 {
  font-size: 13px;
  color: #C4C4C4;
  margin-bottom: 30px;
  transition: 0.2s linear;
}

.news-inner__item h5:before {
  content: "\e902";
  font-family: 'icomoon';
  margin-right: 3px;
}

.news-inner__item p {
  font-size: 16px;
}

.news-inner__item:hover {
  background-color: #FF6B00;
  color: #ffffff;
}

.news-inner__item:hover h5 {
  color: #ffffff;
}

.selection__inner {
  margin-bottom: 75px;
}

.selection__calc {
  display: flex;
  padding: 40px;
  margin-top: 50px;
  max-width: 600px;
  min-height: 600px;
  box-shadow: 0px 0px 10px #FF6B00;
  border: 3px solid #FF6B00;
  border-radius: 20px;
  transition: 0.4s linear;
}

.selection-calc__form {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(7, 60px);
}

.selection-calc-form__item {
  display: flex;
  align-items: center;
}

.selection-calc-form__item p {
  font-size: 15px;
}

.selection-calc-form__item select {
  padding: 10px 18px;
  border-radius: 30px;
  border: 1px solid #C4C4C4;
  width: 100%;
}

.selection-calc-form__btn {
  display: flex;
  align-items: flex-end;
}

.selection-calc-form__btn button {
  width: 100%;
  background-color: transparent;
  border: 1px solid #FF6B00;
  color: #33323B;
  padding: 14px 48px;
}

.selection-calc-form__btn button:hover {
  background-color: #FF6B00;
  color: #ffffff;
}

.selection-form__town {
  border: 1px solid #C4C4C4;
  padding: 10px 18px;
  border-radius: 30px;
  width: 100%;
}

.selection-form-radio__item {
  display: flex;
  align-items: center;
  min-width: 100px;
  margin-right: 10px;
}

.selection-form-radio__item input {
  margin-right: 10px;
}

.selection-form-radio__input {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.selection-form-radio__label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  transition: 0.3s linear;
}

.selection-form-radio__label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.selection-form-radio__label:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #FF6B00;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 7px #FF6B00;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.selection-form-radio__input:checked + .selection-form-radio__label:after {
  opacity: 1;
}

.selection-form-radio__input:checked + .selection-form-radio__label {
  color: #FF6B00;
}

.selection-calc__result {
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 100%;
  max-width: 100%;
  background-color: #FF6B00;
  margin: -41px -41px -41px 20px;
  border: inherit;
  border-radius: inherit;
  transition: 0.4s ease-in-out, transform 3s;
  padding: 40px;
  transition-delay: -0.3s;
}

.selection-calc__result h3 {
  color: #ffffff;
  margin-top: 15px;
}

.active2 {
  max-width: 100%;
}

.active {
  opacity: 1;
  max-width: 100%;
  transition-delay: 0.4s;
}

.selection-calc-result__item {
  margin-top: 35px;
  width: 100%;
  display: flex;
  padding-bottom: 4px;
}

.selection-calc-result__item h4 {
  color: #ffffff;
  white-space: nowrap;
}

.dots {
  width: 100%;
  max-width: 300px;
  border-bottom: 2.5px dotted #ffffff;
}

.selection-calc-result__send {
  margin-top: auto;
}

.selection-calc-result__form {
  margin-top: 25px;
  position: relative;
}

.selection-calc-result__form input {
  box-shadow: 0px 0px 15px rgba(51, 50, 59, 0.2);
  border-radius: 50px;
  border: none;
  width: 100%;
  height: 42px;
  padding-left: 24px;
}

.selection-calc-result__form button {
  background-color: #33323B;
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 48px;
}

footer {
  background-color: #33323B;
}

.footer {
  padding: 20px 0 40px 0;
}

.footer p {
  font-size: 11px;
  color: #C4C4C4;
  margin-top: -25px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  width: 100%;
  max-width: 210px;
  color: #ffffff;
}

.footer__item ul {
  margin-top: 20px;
  list-style-type: none;
}

.footer__item ul li {
  margin-bottom: 15px;
}

.footer__item ul li a {
  color: #ffffff;
  text-transform: none;
  font-size: 13px;
  text-decoration: none;
  margin-left: 10px;
}

.footer__item ul li a:hover {
  color: #FF6B00;
}

.footer__item ul li:before {
  content: "\e903";
  font-family: 'icomoon';
  color: #FF6B00;
}

.footer__item h4 {
  margin-top: 15px;
}

.footer__item p {
  font-size: 12px;
  margin-bottom: 17px;
  margin-top: 10px;
}

.footer__item a {
  font-size: 18px;
  text-decoration: underline;
  color: #FF6B00;
  text-transform: none;
}

.footer__item button {
  margin-top: 25px;
  background-color: transparent;
  border: 1px solid #FF6B00;
  font-size: 13px;
}

.footer-item__social {
  margin-top: 35px;
  display: flex;
}

.footer-item__social object {
  margin-right: 20px;
}
